<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="tabLogo.png">
    <title>البوابة الموحدة للغرف السعودية</title>
    <link rel="stylesheet" href="style10.css">
</head>
<body>
    <header>
        <img src="companyLogo.png" class="companyLogo">
    </header>
    <main>
        <div class="left">
                <h1>
                    تسجيل جديد
                </h1>
                <div class="input">
                    نوع التواصل
                    <div style="margin-left: 20rem;">
                        <div _ngcontent-ebd-c83="" class="col form-group select-box"><label _ngcontent-ebd-c83="" class="label required" style="width: 12.5rem;"></label><select _ngcontent-ebd-c83="" formcontrolname="contactType" class="form-control ng-untouched ng-pristine ng-invalid" style="border: 1px solid #1a1b1d; width: 35rem; text-align: right; background-color: #fff;"><option _ngcontent-ebd-c83="" value="" selected="" disabled="">اختر نوع التواصل</option><option _ngcontent-ebd-c83="" value="1">اقتراح</option><option _ngcontent-ebd-c83="" value="2">شكوى</option><option _ngcontent-ebd-c83="" value="3">استفسار</option><option _ngcontent-ebd-c83="" value="4">أخرى</option></select><path _ngcontent-ebd-c83="" d="M0.855469 1.42969C2.37457 3.28382 3.40655 4.37568 4.9285 5.682C5.54385 6.21016 6.4528 6.21016 7.06815 5.682C8.59007 4.37568 9.62207 3.28382 11.1412 1.42969" stroke="#7A7D85" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></span><!----></div>         
                      </div>
                </div>
                <div class="input">
                    رقم الهوية
                    <div style="margin-left: 20rem;">
                        <div class="mb-3">
                            <input style="border: 1px solid black;" _ngcontent-suv-c137="" formcontrolname="identificationNumber" type="text" placeholder="أدخل رقم الهوية" class="form-control ng-untouched ng-pristine ng-invalid">                        </div>     
                      </div>
                </div>
                <button class="ask btn"> تأكيد </button>
        </div>
        <div class="right">
            <img src="right-slide.png" alt="" width="100%">
        </div>
    </main>
</body>
</html>