<style>
    .f-img {
        margin-top: 1rem;
        margin-bottom: 7.5rem;
        margin-right: 1rem;
        height: 10rem; width: 16rem;
    }
    a {
        color: white;
        text-decoration: none;
    }

    .footer a {
        margin-bottom: 2rem;
        font-size: 1.25rem;
    }
</style>
<div class="footer">
    <div class="upper-footer">
        <div class="sect-1-upper"><a href="/usage-guides">أدلة الإستخدام &lt;</a></div>
        <div class="sect-2-upper"><a href="/faq">الأسئلة الشائعة &lt;</a></div>
        <div class="sect-3-upper">
            <a href="/about">عن المنصة<</a>
            <a href="/contact-us">تواصل معنا<</a>
        </div>
        <div class="sect-4-upper">
            <img src="FSC-logo.png" class="f-img">
        </div>
    </div>
    <hr style="color: #6e7178;">
    <div class="lower-footer">
        <div class="left-lowest">© موقع اتحاد الغرف السعودية 2023</div>
        <div class="right-lowest">الشروط والأحكام سياسة الخصوصية</div>
    </div>
</div>

<style>
    @media(max-width: 904px){
        .footer a{
            font-size: 0.9rem;
        }
        .f-img {
            height: 6rem;
            width: 10rem;
        }
    }
    @media(max-width: 800px){
        .f-img {
            height: 6rem;
            width: 9rem;
        }
    }
    @media(max-width: 680px){
        .f-img {
            height: 5rem;
            width: 8rem;
            margin-right: 1rem;
        }
    }

    @media(max-width: 500px){
           .footer  a {
                font-size: 0.6rem;
            }
        }
    
        @media(max-width: 460px){
            .footer a {
                font-size: 0.4rem;
            }
        }

</style>