<% layout("/layouts/boilerplate1") %>

<body>
    <main>
        <div class="upper-header">
            <h1>عن إتحاد الغرف</h1>
            <div class="path">
                <p><b>الرئيسية</b>  
                    > عن إتحاد الغرف <i class="fa-sharp fa-solid fa-house"></i></p>
            </div>
        </div>
        <div class="main-content">
            <h2>عن إتحاد الغرف التجارية</h2>
            <p>في إطار سعي الهيئة والغرف لتحقيق استراتيجية التحول الرقمي الموحد في تقديم خدمات الغرف الذكية والتي تهدف <b>لتوفير خدمات نوعية لمشتركي الغرف السعودية وتعزز من رضا العميل </b>وتزيد مشاركة مشتركي الغرف في تطوير سياستها بشكل عام ومن تطوير السياسات تجاه تحسين الخدمات المقدمة بشكل خاص</p>
            <h6><b>:خدمات الغرف الذكية تهدف لتحقيق عدة محاور</b></h6>
            <right>
                <ul>
                    <li>التمحور حول الـمستفيد.</li>
                    <li>إرساء مبدأ الشفافية.</li>
                    <li>تحسين جودة إجراءات العمل وتبسيطها.</li>
                </ul>
            </right>
        </div>
    </main>    
</body>