<% layout("/layouts/boilerplate1") %>

<body>
    <main>
        <div class="upper-header">
            <h1>اتصل بنا</h1>
            <div class="path">
                <p><b>الرئيسية</b>  
                    > اتصل بنا <i class="fa-sharp fa-solid fa-house"></i></p>
            </div>
        </div>
        <form action="">
            <div class="row">
              <div _ngcontent-ebd-c83="" class="col form-group" style="text-align: right;"><label _ngcontent-ebd-c83="" class="label required" style="text-align: right;"> الاسم</label><input _ngcontent-ebd-c83="" type="text" placeholder="أدخل الاسم " formcontrolname="fullName" class="form-control ng-untouched ng-pristine ng-invalid" style="text-align: right; background-color: #eeeeef;"><!----></div>
              <div _ngcontent-ebd-c83="" class="col form-group select-box"><label _ngcontent-ebd-c83="" class="label required">الغرفة التجارية</label><select style="background-color: #eeeeef;"  _ngcontent-ebd-c83="" formcontrolname="chamberId" class="form-control ng-untouched ng-pristine ng-invalid"><option _ngcontent-ebd-c83="" value="" selected="" disabled="" style="text-align: right;">اختر الغرفة</option><option _ngcontent-ebd-c83="" style="text-align: right;" value="a0114355-c643-4c78-bc7e-d326595f7ade"> غرفة الشرقية </option><option _ngcontent-ebd-c83="" value="c0114355-c643-4c78-bc7e-d326595f7ade" style="text-align: right;"> غرفة جدة </option><!----></select><span _ngcontent-ebd-c83="" class="icon"><path _ngcontent-ebd-c83="" d="M0.855469 1.42969C2.37457 3.28382 3.40655 4.37568 4.9285 5.682C5.54385 6.21016 6.4528 6.21016 7.06815 5.682C8.59007 4.37568 9.62207 3.28382 11.1412 1.42969" stroke="#7A7D85" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span><!----></div>
            </div>
            <div class="row">
              <div _ngcontent-ebd-c83="" class="col col-md-6"><div _ngcontent-ebd-c83="" class="form-group"><label _ngcontent-ebd-c83="" class="label required"> البريد الإلكتروني</label><input style="background-color: #eeeeef;" _ngcontent-ebd-c83="" formcontrolname="email" type="text" placeholder="email@email.com" class="form-control number ng-untouched ng-pristine ng-invalid"><!----></div></div>
              <div _ngcontent-ebd-c83="" class="col form-group has-icon"><label _ngcontent-ebd-c83="" class="label required">رقم الجوال</label><input style="background-color: #eeeeef;" _ngcontent-ebd-c83="" formcontrolname="phoneNumber" type="text" placeholder="+9665xxxxxxxxx" class="form-control number ng-untouched ng-pristine ng-invalid"><span _ngcontent-ebd-c83="" class="icon-start"></div>
            </div>
            
            <div class="row" style="display: flex; flex-direction: column;">

            </div>

            <div _ngcontent-ebd-c83="" class="form-group"><label _ngcontent-ebd-c83="" class="label required">الوصف</label><textarea _ngcontent-ebd-c83="" formcontrolname="message" maxlength="500" placeholder=" ادخل الوصف " rows="4" class="form-control ng-untouched ng-pristine ng-invalid" style="background-color: #eeeeef; margin-left: 1.5rem; text-align: right;"></textarea><!----></div>
            <div class="row">
              <div _ngcontent-oeu-c83="" class="form-group"><label _ngcontent-oeu-c83="" class="label">المرفقات</label><div _ngcontent-oeu-c83="" class="fileUploader"><input _ngcontent-oeu-c83="" type="file" accept="application/pdf,image/png,image/jpeg" class="form-control" style="background-color: #eeeeef; margin-left: -0.5rem;"><!----><!----><p _ngcontent-oeu-c83="" class="placeholder-text"></p><!----><!----><button _ngcontent-oeu-c83="" type="button" class="btn check-btn"><!----></button><!----></div><!----></div>
            </div>
              <button class="ask btn"> إرسال </button>
        </form>
    </main>
</body>

<style>
  @media(max-width: 1140px) {
    .ask {
      margin-left: 3rem;
    } 
  }
</style>