<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="tabLogo.png">
    <title>تسجيل الدخول</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style9.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        label {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="left">
        <h1 class="h-1">يمكنك إدارة كل شئ تحتاجه</h1>
        <p class="-p">توفير الجهد و الوقت من خلال انهاء طلبات منشآتك بشكل رقمي</p>
        <img src="auth-bg.811e30f755fa278b.png" class="img-2">
        <img src="auth-image.png" class="img-1">
    </div>
    <div class="right">
        <img src="companyLogo.png" class="img">
        <h2>
            تسجيل الدخول
        </h2>
        <div class="div">
            <label for="i1">رقم الهوية</label>
            <div class="input-div">
                <img src="left-input.png" alt="" class="li">
                <input type="text" id="i1" placeholder="ادخل رقم الهوية الخاص بك" class="form-control inp input-1">
                <img src="right-inp.png" alt="" class="ri">
            </div>
        </div>
        <div class="div">
            <label for="1">الرقم السري</label>
            <div class="input-div">
                <input type="password" id="1" placeholder="ادخل كلمة المرور" class="form-control inp inp-2">
                <img src="left-2.png" alt="" class="ri">
            </div>
        </div>
        <div class="lower-inp">
            <div class="p1">
                <label for="tick"> تذكرني </label>
                <input type="checkbox" name="" id="tick">
            </div>
            <span style="color: #3F5FA0; font-weight: 700; font-size: 1.25rem;">
                استعادة كلمة المرور
            </span>
        </div>
        <button class="ask btn">تسجيل الدخول</button>
        <p class="p-1">
            ليس لديك حساب؟ 
            <span style="color: #3F5FA0; font-weight: 700;">             تسجيل مستخدم جديد
            </span>
        </p>
        <div class="lower">
            <hr>
              <span class="s1">أو عن طريق</span>
            <hr>
        </div>
        <!-- <button class="ask btn abc"> النفاذ الوطني الموحد </button> -->
        <button _ngcontent-orq-c88="" type="button" class="ask btn abc btn-secondary btn-submit nafaz-btn" tabindex="0"> 
            النفاذ الوطني الموحد   &nbsp;
            <img _ngcontent-orq-c88="" src="Bitmap.svg" alt="" class="me-12">
        </button>
        <p class="p">جميع الحقوق محفوظة © 2023</p>
    </div>
</body>

<style>
    @media (max-width: 1290px) {
        .left h1{
            margin-right: 1rem;
        }
    }
    @media (max-width: 1250px) {
        .left h1, p, img{
            padding-right: 0.25rem;
        }
    }
    @media (max-width: 1225px) {
        .left h1{
            margin-left:10.5rem;
        }
        .left p {
            margin-left: 5.5rem;
        }
    }
    @media (max-width: 1220px) {
        .left h1{
            margin-left:8.5rem;
        }
        .left p {
            margin-left: 3.5rem;
        }
    }
    @media (max-width: 1200px) {
        .img-1 {
            width: 650px;
        }
    }
    @media (max-width: 1100px) {
        .left h1{
            margin-left:7.5rem;
        }
        .left p {
            margin-left: 2.5rem;
        }
        .img-1 {
            width: 600px;
        }
    }
    @media (max-width: 1060px) {
        .left h1{
            margin-left:6.5rem;
        }
        .left p {
            margin-left: 1.5rem;
        }
        .img-1 {
            width: 550px;
        }
    }
    @media (max-width: 1028px) {
        .left h1{
            margin-left:5.5rem;
        }
        .left p {
            margin-left: 0.75rem;
        }
        .img-1 {
            width: 500px;
        }
    }
    @media (max-width: 1000px) {
        .left h1{
            margin-left:4.5rem;
        }
        .left p {
            margin-left: 0.05rem;
        }
        .img-1 {
            width: 450px;
        }
    }
    @media (max-width: 970px) {
        .left h1{
            font-size: 2.5rem;
        }
        .left p {
            font-size: 1.5rem;
        }
    }
    @media (max-width: 965px) {
        .img-1 {
            display: none;
        }
        .left h1{
            margin-left:3.5rem;
        }
        .left p {
            font-size: 1rem;
            margin-left: -1rem;
        }
    }
    @media (max-width: 965px) {
        .left h1{
            margin-left:1.5rem;
        }
        .left p {
            font-size: 1rem;
            margin-left: -3rem;
        }
    }
    @media (max-width: 870px) {
        .left {
            display: none;
        }
        .right {
            width: 100%;
        }
    }
    @media (max-width: 476px) {
        .ask {
            margin-right: 2rem;
        }
    }
    
</style>